html{
    scroll-behavior: smooth;
}
body{
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
    font-family: monospace;
}

header{
    min-height: 100vh;
}
header p{
    font-size: 1.2em;
    color: #f5f0f08c;
}
.b{
    border: 2px solid red;
}

header img{
    box-shadow: 5px 10px 20px black;
}

h1, h2, h3, h4{
    color: white;
}
h3{
    font-size: 2.5em;
    text-align: center;
}

#tecnologias{
    min-height: 110vh;
}
#tecnologias img{
    width: 185px;
    transition: 1s;
}
#tecnologias img:hover{
    width: 200px;
    filter: drop-shadow(0px 10px 8px #000000);
    transition: 1s;
}
.img_java{
    width: 150px !important;  
}
.img_java:hover{
    width: 180px !important;  
}

#estudios{
    min-height: 80vh;
}
#estudios span, a{
    color: #eee0e02c;
    font-size: 1.2em;
}

#portafolio{
    min-height: 110vh;
}
.card{
    background-color: #434343;
    color: white;
    box-shadow: 0px 5px 10px black;
}
.card-title{
    cursor: pointer;
}
#portafolio button{
    background-color: rgba(28, 28, 29, .7);
    color: white;
    transition: 1s;
}
#portafolio button:hover{
    background-color: white;
    color: #2c3e50;
    transition: 1s;
}
.div-img{
    position: relative;
}
.capa{
    position: absolute;
    top: 0;
    inset: 0;
    margin: auto;
    width: 100%;
    height: 100%;
}

.modal-tecno{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(28, 28, 29, .7);

}
.modal-tecno ul{
    color: white;
    width: 25%;
    height: max-content;
    list-style-type: none;
    position: absolute;
    inset: 0;
    margin: auto;
}
.modal-tecno li{
    padding: 10px;
}
.cruz{
    margin-top: 15px;
    margin-left: 95%;
    font-size: 1.2em;
    border: 3px solid #2c3e50;
}

.navegador{
    position: fixed;
    z-index: 50;
    height: 300px;
    width: 50px;
    border: 2px solid white;
    margin-top: 150px;
    box-shadow: 0px 0px 5px white;
}
i{
    color: white;
    font-size: 25px;
    filter: drop-shadow(3px 3px 1px black);
}
.horizontal{
    display: none;
    position: absolute;
}

form label{
    color: #fff;
    font-size: 1.3em;
}
form{
    background-color: #434343;
    box-shadow: 5px 10px 20px black;
    width: 50%;
}
form button{
    background-color: #2c3e50;
    color: white;
    border: none;
    border-radius: 5px;
    transition: 1s;
}
form button:hover{
    background-color: white;
    color: #2c3e50;
    transition: 1s;
}
@media screen and (max-width: 1250px){
    .navegador{
        height: 50px;
        width: 300px;
        margin-top: 10px;
        border: none;
        box-shadow: none;
    }
    .vertical{
        display: none;
    }
    .horizontal{
        display: inline;
        position: relative;
    }
}
@media screen and (max-width: 1045px){
    .modal-tecno ul{
        width: 50%;

    }
}
@media screen and (max-width: 990px){
    h1, h2, .p-header{
        text-align: center;
    }
    .p-header{
        padding-top: 40px;
    }
    .img-perfil{
        width: 40%;
    }
}
@media screen and (max-width: 800px){
    form{
        width: 100%;
    }
    .modal-tecno ul{
        width: 50%;

    }
}
@media screen and (max-width: 760px){
    .img-perfil{
        width: 75%;
    }
}