body{
    font-family:  'Roboto Mono', monospace;
    background-color: #111;
}
header{
    background-image: url(/img/principla.jpg);
    background-size: cover;
}

#nav{
    position: sticky;
    top: 0;
    z-index: 200;
}
#nav ul a{
    color: #fff;
}
ul{
    list-style-type: none;
}

h1{
    font-size: 4em;
    animation: titulo;
    animation-duration: 3s;
}
.subtitulo{
    animation: subtitulo;
    animation-duration: 3s;
}
h3{
    text-align: center;
    color: #fff;
}
h5{
    text-align: center;
}

#tecno img:hover{
    transform: scale(1.05);
    transition: .5s;
}
img{
    height: 150px;
    width: 150px;
    
}  
.contenedor_form{
    width: min-content;
}

@keyframes titulo{
    0%{
        opacity: 0;
        transform: translateX(-300px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes subtitulo{
    0%{
        opacity: 0;
        transform: translateX(300px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}